<!DOCTYPE html>
<html>
<head>
  <title>TopBetting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link data-turbolinks-track="true" href="/assets/cusom.css?body=1" media="all" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
